name: Build

on:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      attestations: write
      id-token: write
    env:
      CGO_ENABLED: 0
      TAG: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775
        with:
          check-latest: true
          go-version: 1.26.x

      - name: Install Syft for SBOM generation
        run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@5a30dd90ba97bcb89e03060b1d36736828e222e4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@6c92f1d3507cdfe919183912a95e9a64c05f5ff5
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Upload binary SBOMs # Upload SBOMs for prod builds.
        uses: actions/upload-artifact@47309c993abb98030a35d55ef7ff34b7fa1074b5
        with:
          name: binary-sboms
          path: ./dist/*.sbom.json
          if-no-files-found: warn

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        if: success()
        with:
          subject-checksums: ./dist/checksums.txt

      - name: Clean up dist directory
        if: always() # Runs even if previous steps fail
        run: rm -rf dist
