name: Lint

on:
  workflow_call:

permissions:
  contents: read

env:
  GO_VERSION: 1.25.x

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4aaadf42668403795cdfdb15b1c4250e9fed12b9
        with:
          check-latest: true
          go-version: ${{ env.GO_VERSION }}

      - name: Install dependencies
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@f75c1c4ee8cf8e994bdc439d6bc16542631d8461
        with:
          args: --timeout=5m

      - name: Format Go code
        run: |
          go fmt ./...

      - name: Check for uncommitted changes after formatting
        run: |
          git diff --exit-code || (echo "Detected unformatted files. Run 'go fmt' to format your code."; exit 1)
